#homeView {
  display: flex;
  flex-direction: column;
  height: 100vh
}

#DinnerTitle{
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#textView{
  padding-top: 20vh;
  padding-bottom: 20vh;
}

#buttonView{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#Ingredients {
    border:3px solid black;
    background-color: #E8CF7D;
 }

 #printoutHeader {
     border-bottom:solid black 3px;
  }

#dish-row {
  padding-top: 20px;
}

.right-padding {
  align-items: right;
  padding-left: 30%;
}

 hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 2px 0;
  margin: 10px 0;
  margin-left: 10%;
  margin-right: 10%;
}
