#selectDishView{
  width: 100vw;
  height: 100%;
}

#rowView{
  width: 100vw;
  height: 100%;
}

.imgContainer{
    float:left;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
}

#DinnerTitleView{
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#sideBarHeader{
  padding-top: 2vh;
  padding-left: 1vh;
}

#findDishHeader{
  padding-top: 4vh;
}


#peopleScroller{
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
}

#dishNameCostBar{
  padding-top: 1vh;
  padding-left: 1vh;
}

#searchbar{
  padding-top: 2vh;
  padding-left: 6vh;
  padding-bottom: 4vh;
}

#categoryInput{
  margin-left: 2vh;
  margin-right: 2vh;
}

#dishItemScrollView{
  padding-top: 10vh;
}
img {
  border:1px solid #021a40;
  width: 30vh;
  height: 30vh;
}

figcaption{
  text-align: center;
  width: 30vh;
}

.scrollable {
    height: 100vh; /* or any value */
    overflow-y: auto;
}

#costCounter{
  padding-top: 1vh;
}

#confirmDinnerButton{
  padding-top: 2vh;
}

.fas {
  font-family: 'FontAwesome' !important;
}

#barsIcon{
  vertical-align: middle;
}

#collapseButton{
  visibility: hidden;
}

col-1 {width: 8.33%;}
col-2 {width: 16.66%;}
col-3 {width: 25%;}
col-4 {width: 33.33%;}
col-5 {width: 41.66%;}
col-6 {width: 50%;}
col-7 {width: 58.33%;}
col-8 {width: 66.66%;}
col-9 {width: 75%;}
col-10 {width: 83.33%;}
col-11 {width: 91.66%;}
col-12 {width: 100%;}

@media only screen and (max-width: 768px) {

  #sideBarView{
    width: 100vw;

  }

  #findDishView{
    width: 100vw;
  }

  #dishItemScrollView{
    width: 100vw;
  }


  #barsIcon{
    visibility: visible;
  }

  #costCounter{
    padding-right: 1vh;
  }

  #findDishHeader{
    text-align: center;
  }

  #collapseButtonDiv{
    display: inline;
  }

  #searchbar{
    padding-left: 0vh;
    justify-content: center;
  }

  .imgContainer{
    width: 100%;
  }

}
